beautifulsoup4==4.8.1
bs4==0.0.1
catalogue==1.0.0
cymem==2.0.3
dash==1.9.0
dash-core-components==1.8.0
dash-daq==0.3.3
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.0
download==0.3.4
dython==0.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz
Flask==1.1.1
Flask-Compress==1.4.0
gensim==3.8.1
nltk==3.4.5
numpy==1.17.0
packaging==19.1
pactools==0.2.0b0
pandas==1.0.1
pandas-profiling==2.3.0
gunicorn
